<div class="row" style="background-color:#5DADE2 ; padding: 20px;">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="https://i.ibb.co/5WcGSSF/foto-perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2>Hector Pablo Monasterio</h2>
        <p style="font-weight:bold">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span>
            <h1>Acerca de mí</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        
        </span>
    </div>
			
</div>

    
    <!--
    <div class="row">
        <div class="col-12">
            <img src="../../../assets/foto-perfil.jpg" class="" style="border-radius: 100%">
        </div>


    </div>

-->