<div style="background-color: #5DADE2;">
    <div class="row" style="background-color: #5DADE2;">
            
            <h1>Educación</h1>
            <div class="col-11" style="margin-left: 5%;">
                <ul>
                    <li>
                        <h2>Estudio 1</h2> - <h4>(Años)</h4>
                    </li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reprehenderit, ducimus distinctio dolorum cupiditate eveniet magni sed inventore, veritatis labore est unde vel optio doloribus beatae culpa quo quas iure.
                    </p>
                    <li>
                        <h2>Estudio 2</h2> - <h4>(Años)</h4>
                    </li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reprehenderit, ducimus distinctio dolorum cupiditate eveniet magni sed inventore, veritatis labore est unde vel optio doloribus beatae culpa quo quas iure.
                    </p>
                    <li>
                        <h2>Estudio 3</h2> - <h4>(Años)</h4>
                    </li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reprehenderit, ducimus distinctio dolorum cupiditate eveniet magni sed inventore, veritatis labore est unde vel optio doloribus beatae culpa quo quas iure.
                    </p>

                </ul>


            </div>

    </div>
</div>