<div class="row">
    <div class="">
        <a class="btn btn-primary" href="#Acerca_De" role="button">Acerca de</a>
        <a class="btn btn-primary" href="#Experiencia" role="button">Experiencia</a>
        <a class="btn btn-primary" href="#Educación" role="button">Educación</a>
        <a class="btn btn-primary" href="#Hard_&_Soft_Skills" role="button">Hard & Soft Skills</a>
        <a class="btn btn-primary" href="#Proyectos" role="button">Proyectos</a>
        <a class="btn btn-primary" href="#Contacto" role="button">Contacto</a>


    </div>





</div>